debug: false
logfile: test.log
log_format: ^(?P<ip>\d+\.\d+\.\d+\.\d+) - - \[.{26}\] \"(?P<request>[^\"]*)\" \d{3} \d+ \"(?P<referer>[^\"]*)\" \"(?P<user_agent>[^\"]*)\" rt.*$
checkers:
  - kind: list
    sources:
      - src: ./lists/our_servers.txt
        type: txt
        action: whitelist
      - src: https://ip-ranges.amazonaws.com/ip-ranges.json
        type: aws_ip_ranges
        action: whitelist
        aws_service_filter:
          - ROUTE53_HEALTHCHECKS
      - src: https://check.torproject.org/torbulkexitlist
        type: txt
        action: block
  - kind: geoip
    allowed_countries:
      - RU
    path: ""
  - kind: field
    field_name: user_agent
    contains:
      - Go-http-client
    action: block
  - kind: reverse_dns
    rules:
      - field: user_agent
        field_contains:
          - Google
          - Googlebot
          - googleweblight
        domain_suffixes: 
          - googlebot.com
          - google.com
        resolver: 8.8.8.8
block_action:
    - bash
    - -c
    - echo {{.ip}} >> block_.txt
blocklog: block.txt
blocklog_template: "{{.time}} {{.ip}} {{.country}} {{.checker}}"
whitelist_cache_path: whitelist.txt