logfile: test.log
log_format: ^(?P<ip>.+) - - \[.*\] \"(?P<method>.+) (?P<request>.+) (?P<proto>.+)\" \d{3} \d+ \"(?P<referer>.*)\" \"(?P<user_agent>.*)\" rt.*$
checkers:
  - kind: whitelist
    allow:
      - 127.0.0.1
      - 192.168.1.1
  - kind: geoip
    allow:
      - RU
    path: ""
execute: ip route add blackhole {{.IP}}